* {
    margin: 0;
    padding: 0;
}    

body {
    width: 50%;
    margin: 10% auto;
    box-sizing: border-box;
}

.container {
    text-align: center;
    background-color: pink;
}

.weatherContainer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

.dayContainer {
    width: 200px;
    height: 200px;
    background-color: brown;
    padding: 10px;
    border-radius: 5px;
    margin: 3px;
}

