* {
    margin: 0;
    padding: 0;
}    

body {
    width: 50%;
    margin: 10% auto;
    box-sizing: border-box;
}

.container {
    text-align: center;
    background-color: pink;
    padding: 0 5% 5% 5%;
}

.searchContainer {
    padding-top: 10px;
}
.weatherContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cityHeader {
    width: 100%;
}

.dayContainer {
    width: 150px;
    height: 150px;
    background-color: brown;
    border-radius: 10px;
    margin: 10px;
}

.firstDay {
    width: 100%;
}

.iconDiv {
    filter: drop-shadow(0 0 0.6rem rgb(0, 0, 0));
}

img {
    height: 100px;
}
