@import url('https://fonts.googleapis.com/css?family=Julius+Sans+One&display=swap');

* {
    padding: 0;
    font-family: 'Julius Sans One', sans-serif;
}    

html {
    height: 100%;
    background: radial-gradient(circle, rgba(226,233,104,0.9892157546612395) 0%, rgba(148,187,233,1) 100%);
    background-size: cover;
}

body {
    width: 50%;
    margin: 5% auto;
    box-sizing: border-box;
}

.container {
    text-align: center;
    background-color: rgba(0, 0, 0, 0.281);
    padding: 0 5% 5% 5%;
    border-radius: 10px;
    color: white;
    font-weight: bold;
}

.searchContainer {
    padding-top: 30px;
    overflow: auto;
}

button {
    background-color: rgb(148,187,233);
    border: none;
    color: white;
    font-weight: bold;
    padding: 16px 32px;
    text-align: center;
    display: inline-block;
    border-radius: 10px;
}

input {
    width: 60%;
    padding: 12px 20px;
    box-sizing: border-box;
}

.weatherContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cityHeader {
    width: 100%;
}

.cityHeader {
    font-size: 1.5rem;
}

.dayContainer {
    width: 160px;
    height: 200px;
    background-color: rgba(148,187,233,1);
    border-radius: 10px;
    margin: 5px;
    padding-top: 10px;
    font-size: 1.2rem;
}

.iconDiv {
    font-size: 4.5rem;
    padding: 10px;
}

#firstIcon {
    width: 25%;
    font-size: 6rem;
    padding: auto;
    align-self: center;
}

.firstDay {
    width: 100%;
    height: 150px;
    font-size: 2rem;
    display: flex;
    padding-top: 0;
}

.firstDayInfo {
    margin: 0 auto 0 auto;
    align-self: center;
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    body {
        width: 90%;
    }

    .dayContainer {
        width: 23%;
    }

    .firstDay {
        width: 100%;
    }
}

@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    body {
        width: 90%;
    }

    .dayContainer {
        width: 45%;
    }

    .firstDay {
        width: 100%;
    }

    button {
        width: 60%;
        margin-top: 3%;
    }
}
